<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlueKai Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BlueKai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestRunnerApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>240C9119192C233E00C5633D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>240C9139192C233E00C5633D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>240C9154192C2FE100C5633D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>240C9176192C2FE200C5633D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>245725DB192C38FE00253FDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>245725FA192C38FF00253FDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24F7B6FF192ADADC002D8F99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24F7B718192BCDB4002D8F99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24F7B737192BCDB4002D8F99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D79AF756173A1AA7002E0A0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D79AF767173A1AA8002E0A0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
